In [2]:
import os
import pandas as pd

path = "./data/"
filename_read = os.path.join(path,'auto-mpg.csv')
filename_write= os.path.join(path,'mod2-2output.csv')
df= pd.read_csv(filename_read,na_values=['NA','?'])
#print(df[0:5])

In [3]:
df = df.select_dtypes(include=['int','float'])
print(df[0:5])

    mpg  displacement  horsepower  acceleration
0  18.0         307.0       130.0          12.0
1  15.0         350.0       165.0          11.5
2  18.0         318.0       150.0          11.0
3  16.0         304.0       150.0          12.0
4  17.0         302.0       140.0          10.5

In [4]:
headers = list(df.columns.values)
print(headers)

['mpg', 'displacement', 'horsepower', 'acceleration']

In [5]:
fields=[]
for field in headers:
    fields.append({
        'name':field,
        'mean':df[field].mean(),
        'variance':df[field].var(),
        'std deviation':df[field].std()
    })

print(fields)

[{'name': 'mpg', 'mean': 23.514572864321615, 'variance': 61.089610774274405, 'std deviation': 7.815984312565782}, {'name': 'displacement', 'mean': 193.42587939698493, 'variance': 10872.199152247364, 'std deviation': 104.26983817119581}, {'name': 'horsepower', 'mean': 104.46938775510205, 'variance': 1481.5693929745862, 'std deviation': 38.49115993282855}, {'name': 'acceleration', 'mean': 15.568090452261291, 'variance': 7.604848233611381, 'std deviation': 2.7576889298126757}]

In [6]:
import numpy as np
df= pd.read_csv(filename_read,na_values=['NA','?'])
np.random.seed(45)
df=df.reindex(np.random.permutation(df.index))
df.reset_index(inplace=True, drop=True)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,25.1,4,140.0,88.0,2720,15.4,78,1,ford fairmont (man)
1,32.3,4,97.0,67.0,2065,17.8,81,3,subaru
2,18.5,6,250.0,98.0,3525,19.0,77,1,ford granada
3,34.0,4,108.0,70.0,2245,16.9,82,3,toyota corolla
4,30.9,4,105.0,75.0,2230,14.5,78,1,dodge omni
5,12.0,8,400.0,167.0,4906,12.5,73,1,ford country
6,26.0,4,97.0,46.0,1950,21.0,73,2,volkswagen super beetle
7,17.7,6,231.0,165.0,3445,13.4,78,1,buick regal sport coupe (turbo)
8,21.0,4,122.0,86.0,2226,16.5,72,1,ford pinto runabout
9,26.6,8,350.0,105.0,3725,19.0,81,1,oldsmobile cutlass ls
10,15.0,8,350.0,145.0,4440,14.0,75,1,chevrolet bel air
11,23.0,8,350.0,125.0,3900,17.4,79,1,cadillac eldorado
12,28.0,4,116.0,90.0,2123,14.0,71,2,opel 1900
13,38.0,4,91.0,67.0,1965,15.0,82,3,honda civic
14,15.5,8,400.0,190.0,4325,12.2,77,1,chrysler cordoba
15,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
16,14.0,8,350.0,165.0,4209,12.0,71,1,chevrolet impala
17,10.0,8,360.0,215.0,4615,14.0,70,1,ford f250
18,18.0,4,121.0,112.0,2933,14.5,72,2,volvo 145e (sw)
19,15.0,8,304.0,150.0,3892,12.5,72,1,amc matador (sw)
20,31.8,4,85.0,65.0,2020,19.2,79,3,datsun 210
21,19.2,8,305.0,145.0,3425,13.2,78,1,chevrolet monte carlo landau
22,34.3,4,97.0,78.0,2188,15.8,80,2,audi 4000
23,30.0,4,98.0,68.0,2155,16.5,78,1,chevrolet chevette
24,26.0,4,116.0,75.0,2246,14.0,74,2,fiat 124 tc
25,29.0,4,98.0,83.0,2219,16.5,74,2,audi fox
26,23.0,4,140.0,83.0,2639,17.0,75,1,ford pinto
27,16.0,6,250.0,105.0,3897,18.5,75,1,chevroelt chevelle malibu
28,22.0,6,232.0,112.0,2835,14.7,82,1,ford granada l
29,19.0,4,122.0,85.0,2310,18.5,73,1,ford pinto
...,...,...,...,...,...,...,...,...,...
368,14.0,8,304.0,150.0,3672,11.5,73,1,amc matador
369,16.5,8,351.0,138.0,3955,13.2,79,1,mercury grand marquis
370,19.0,6,250.0,88.0,3302,15.5,71,1,ford torino 500
371,21.1,4,134.0,95.0,2515,14.8,78,3,toyota celica gt liftback
372,37.2,4,86.0,65.0,2019,16.4,80,3,datsun 310
373,16.0,8,318.0,150.0,4498,14.5,75,1,plymouth grand fury
374,21.0,6,200.0,NaN,2875,17.0,74,1,ford maverick
375,22.0,4,108.0,94.0,2379,16.5,73,3,datsun 610
376,24.5,4,98.0,60.0,2164,22.1,76,1,chevrolet woody
377,21.0,6,200.0,85.0,2587,16.0,70,1,ford maverick
378,27.2,4,119.0,97.0,2300,14.7,78,3,datsun 510
379,21.0,6,199.0,90.0,2648,15.0,70,1,amc gremlin
380,33.0,4,91.0,53.0,1795,17.5,75,3,honda civic cvcc
381,18.1,8,302.0,139.0,3205,11.2,78,1,ford futura
382,34.5,4,105.0,70.0,2150,14.9,79,1,plymouth horizon tc3
383,13.0,8,318.0,150.0,3755,14.0,76,1,dodge d100
384,23.0,4,151.0,NaN,3035,20.5,82,1,amc concord dl
385,24.0,4,113.0,95.0,2278,15.5,72,3,toyota corona hardtop
386,41.5,4,98.0,76.0,2144,14.7,80,2,vw rabbit
387,14.0,8,351.0,153.0,4129,13.0,72,1,ford galaxie 500
388,22.0,6,198.0,95.0,2833,15.5,70,1,plymouth duster
389,19.0,4,121.0,112.0,2868,15.5,73,2,volvo 144ea
390,31.0,4,91.0,68.0,1970,17.6,82,3,mazda glc custom
391,13.0,8,350.0,155.0,4502,13.5,72,1,buick lesabre custom
392,18.0,6,225.0,95.0,3785,19.0,75,1,plymouth fury
393,13.0,8,350.0,145.0,4055,12.0,76,1,chevy c10
394,12.0,8,455.0,225.0,4951,11.0,73,1,buick electra 225 custom
395,25.0,4,98.0,NaN,2046,19.0,71,1,ford pinto
396,36.0,4,120.0,88.0,2160,14.5,82,3,nissan stanza xe
397,32.0,4,71.0,65.0,1836,21.0,74,3,toyota corolla 1200

In [57]:
df = df.sort_values(by='name',ascending=True)
print('The 5th car is {}'.format(df['name'].iloc[4]))
print(df[0:7])

The 5th car is amc concord
      mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
57   13.0          8         360.0       175.0    3821          11.0    73
316  15.0          8         390.0       190.0    3850           8.5    70
189  17.0          8         304.0       150.0    3672          11.5    72
71   19.4          6         232.0        90.0    3210          17.2    78
332  24.3          4         151.0        90.0    3003          20.1    80
136  18.1          6         258.0       120.0    3410          15.1    78
384  23.0          4         151.0         NaN    3035          20.5    82

     origin                     name
57        1  amc ambassador brougham
316       1       amc ambassador dpl
189       1       amc ambassador sst
71        1              amc concord
332       1              amc concord
136       1          amc concord d/l
384       1           amc concord dl

In [8]:
df.insert(5,'weight_kg',(df['weight']*0.465321).astype(int))
df[0:6]

,mpg,cylinders,displacement,horsepower,weight,weight_kg,acceleration,year,origin,name
0,25.1,4,140.0,88.0,2720,1265,15.4,78,1,ford fairmont (man)
1,32.3,4,97.0,67.0,2065,960,17.8,81,3,subaru
2,18.5,6,250.0,98.0,3525,1640,19.0,77,1,ford granada
3,34.0,4,108.0,70.0,2245,1044,16.9,82,3,toyota corolla
4,30.9,4,105.0,75.0,2230,1037,14.5,78,1,dodge omni
5,12.0,8,400.0,167.0,4906,2282,12.5,73,1,ford country

In [9]:
from scipy.stats import zscore
df['mpg']=zscore(df['mpg'])
df[0:5]

,mpg,cylinders,displacement,horsepower,weight,weight_kg,acceleration,year,origin,name
0,0.203100,4,140.0,88.0,2720,1265,15.4,78,1,ford fairmont (man)
1,1.125448,4,97.0,67.0,2065,960,17.8,81,3,subaru
2,-0.642387,6,250.0,98.0,3525,1640,19.0,77,1,ford granada
3,1.343225,4,108.0,70.0,2245,1044,16.9,82,3,toyota corolla
4,0.946103,4,105.0,75.0,2230,1037,14.5,78,1,dodge omni

In [11]:
med =df['horsepower'].median()
df['horsepower']=df['horsepower'].fillna(med)
print('Horse has na {}'.format(pd.isnull(df['horsepower'].values.any())))

Horse has na False

In [18]:
hp = df['horsepower']
name = df['name']
result = pd.concat([name,hp,df['cylinders']],axis=1)
result = result.sort_values(by='horsepower',ascending = True)
result[0:25]

                                name  horsepower  cylinders
279     volkswagen 1131 deluxe sedan        46.0          4
6            volkswagen super beetle        46.0          4
294             vw rabbit c (diesel)        48.0          4
269               vw dasher (diesel)        48.0          4
352  volkswagen rabbit custom diesel        48.0          4
234                         fiat 128        49.0          4
349                        vw pickup        52.0          4
61                chevrolet chevette        52.0          4
333                    toyota corona        52.0          4
230                 mazda glc deluxe        52.0          4
336                      honda civic        53.0          4
380                 honda civic cvcc        53.0          4
177                volkswagen type 3        54.0          4
200                   toyota starlet        58.0          4
270                    renault 5 gtl        58.0          4
337            toyota corolla tercel        60.0          4
325             volkswagen model 111        60.0          4
376                  chevrolet woody        60.0          4
334                 honda civic cvcc        60.0          4
272                 honda civic 1300        60.0          4
72                        datsun 710        61.0          4
201                 vokswagen rabbit        62.0          4
129                    toyota tercel        62.0          4
206           plymouth horizon miser        63.0          4
162               plymouth horizon 4        63.0          4